@import "tailwindcss";

/* Định nghĩa Theme cho Khóa luận */
@theme {
  --color-darkBg: #0F172A;
  --color-primary: #1E3A8A;
  --color-accent: #CA8A04;
  
  --font-orbitron: "Orbitron", sans-serif;
  --font-exo: "Exo 2", sans-serif;
}

body {
  background-color: var(--color-darkBg);
  color: white;
}